* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 62.5%;
}


main h4 {
    font-size: 3rem;
}

.form-control {
    font-size: 2rem;
}

main .btn {
    font-size: 2rem;
}